body {
    background-color: black;
}

.App {
    background-color: #ccc;
    text-align: center;
    display: flex;
    padding: 40px;
}

.total-txt {
    margin-top: 20px;
    color: darkred;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-remove {
    background-color: green;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    margin: 8px 0;
}

.btn-remove:hover {
    background-color: gold;
    color: #000;
    transform: scale(1.1);
}

.all-product {
    border: 3px solid forestgreen;
    background-color: steelblue;
    font-weight: bold;
    width: 250px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
}

.all-product:hover {
    background-color: dodgerblue;
    color: #fff;
}
